html{
    height:100%;
};
body{
    background-image: url("../images/startBG.jpeg");
    background-size: cover;
    background-position: absolute;
    min-height:100%;
    background-repeat:no-repeat;
};
.container result{
    display: none;
};
@font-face {
    font-family: "Triforce";
    src: url("../fonts/Triforce.ttf"); 
};
